.ant-layout-header {
  background: aqua !important;
}

.ant-layout-sider {
  background: blueviolet !important;
  width: 350px !important;
  max-width: 500px !important;
  flex: 0 0 350px !important;
}
